@import url("https://fonts.googleapis.com/css?family=Barlow|Tomorrow:400,700&display=swap");

* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: Tomorrow, sans-serif;
  }